<div class="container">
    <form class="well form-horizontal" action=" " method="post" id="contact_form">
        <fieldset>
            <!-- Form Name -->
            <legend>Bikes Share Details</legend>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">Cities</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Holiday" class="form-control selectpicker">
                            <option value=" ">Cities</option>
                            <option>San Jose</option>
                            <option>San Fransico</option>
                            <option>Red Wood</option>
                            <option>Mountain View</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Holiday</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Holiday" class="form-control selectpicker">
                            <option value=" ">Holiday</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label">Month</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Month" class="form-control selectpicker">
                            <option value=" ">Month</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Weekday</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="wday" class="form-control selectpicker">
                            <option value=" ">Weekday</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Max_temperature</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="zip" placeholder="Max_temperature" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Mean_temperature</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Mean_temperature" placeholder="Mean_temperature" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Min_temperature</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Min_temperature" placeholder="Min_temperature" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Max_drewpoint(f)</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Max_drewpoint" placeholder="Max_drewpoint(f)" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Mean_drewpoint(f)</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Mean_drewpoint" placeholder="Mean_drewpoint(f)" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Min_drewpoint(f)</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Min_drewpoint" placeholder="Min_drewpoint(f)" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Mean_Wind_speed</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Mean_Wind_speed" placeholder="Mean_Wind_speed" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Max_gust_speed</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Max_gust_speed" placeholder="Max_gust_speed" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Precipitation_inches</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Precipitation_inches" placeholder="Precipitation_inches" class="form-control"
                            type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Cloud_cover</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Cloud_cover" placeholder="Cloud_cover" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Wind_dir_degrees</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Wind_dir_degrees" placeholder="Wind_dir_degrees" class="form-control"
                            type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Zip_code</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon "></i>
                        </span>
                        <input name="Zip_code" placeholder="Zip_code" class="form-control" type="number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Fog</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Fog" class="form-control selectpicker">
                            <option value=" ">Fog</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Fog_rain</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Fog_rain" class="form-control selectpicker">
                            <option value=" ">Fog_rain</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Rain</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Rain" class="form-control selectpicker">
                            <option value=" ">Rain</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Rain_thunderstorm</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                        <select name="Rain_thunderstorm" class="form-control selectpicker">
                            <option value=" ">Rain_thunderstorm</option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Predict <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div>
<!-- /.container -->